<div class="container bg-dark">

    <div class="row">
        <main class="col-lg-8 col-md-12 col-sm-12">
            <div class="row">
                <div class="card-body text-center text-white">
                    <h3>Encuentra más títulos</h3>
                    <select [(ngModel)]="buscar" name="buscar" class="form-select bg-dark text-white"
                        (ngModelChange)="buscarPelicula()">
                        <option *ngFor="let buscar of titulos" [value]="buscar">
                            {{buscar}}
                        </option>
                    </select>
                </div>

                <ng-container *ngFor="let p of peliculas">
                    <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                        <div class="card bg-dark text-white border border-danger ">
                            <div class="card-body"><img [src]='p.image' class="card-img-top" alt="p.title">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{p.title}}</h5>

                                <div class="table-responsive">
                                    <p class="card-text p-3" style=" max-width: 100%;max-height: 200px;">
                                        {{p.synopsis}}</p>
                                </div>
                            </div>
                            <div class=" card-body ">
                                <a href="{{p.link}}" class="d-grid btn btn-danger" target="_blank"><span
                                        class="i-play"></span>
                                    Reproducir</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{p.type}}</small>
                            </div>
                        </div>
                    </div>
                </ng-container>



            </div>
        </main>
        <aside class="d-lg-block col-lg-4 col-md-none d-sm-none d-none card-body text-white">
            <ng-container *ngFor="let o of otraspelis">
                <div class="card bg-dark border border-secundary m-5 p-3">
                    <div class="card-body"><img src="{{o.image}}" class="card-img-top" alt="{{o.title}}">
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title">{{o.title}}</h5>
                        <div class="table-responsive">

                            <p class="card-text p-3" style=" max-width: 100%;max-height: 200px;">{{o.synopsis}}</p>
                        </div>

                        <a href="{{o.link}}" class="btn btn-secondary mt-2" target="_blank"><span class="i-add"></span>
                            Ver más</a>
                    </div>
                </div>
            </ng-container>
        </aside>

    </div>


</div>